// Text color
$main-text-color: #ffffff;
$second-text-color: #F44E46; // team presentation section + best burger section -> Animation with changing color
$third-text-color: #861e06; // best burger section -> Animation with changing color

// Background color
$background-color: #222222; // footer

// Hyperlink changing color on hover
$main-hyperlink-color: #d3d3d3;
$second-hyperlink-color: #ffa500; // btn of the common content class

