@use 'colors' as c;
@use 'breakpoints' as b;

/* 
Footer - General structure
 */
footer {
    display: flex;
    justify-content: center;
    background-color: c.$background-color;
    color: c.$main-text-color;
}




