@use 'colors' as c;
@use 'mixins' as m;

/*
Header - General Structure
*/
header {
    .company-logo {
        width: 5rem;
    }
    
    .nav-link {
        font-size: 1.1rem;
        color: c.$main-text-color;
    }
    
    .navbar-nav {
        text-align: right;
    }
}





