@mixin lineBreak() {
    content: "\a";
    white-space: pre;
}

@mixin backgroundImage($size) {
    background-attachment: fixed;
    background-size: $size;
}

@mixin btnFormat() {
    font-size: 1.2rem;
    border-radius: 2rem;
    padding: 0.5rem 3rem;
}

