@use 'colors' as c;

/*
Reset structure
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    overflow-x: hidden;
}

body {
    font-family: 'Lato Regular', Georgia, 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    outline: none;
    color: c.$main-text-color;
}

a:hover {
    color: c.$main-hyperlink-color;
    transition: 0.2s ease-in;
}

ul {
    list-style: none;
}

h1 {
    font-size: 2.7rem;
}

h2 {
    font-size: 2.6rem;
}
        
h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 2.5rem;
}