@use 'breakpoints' as b;
@use 'mixins' as m;

@media only screen and (max-width: b.$lg) {
    .best-burger {
        #burger__img {
            width: 25rem;
            padding-right: 0;
        }
    }
}

@media only screen and (max-width: b.$md) {
    html,
    body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    footer {
        display: none;
    }

    .best-burger {
        img {
            width: 20rem;
        }

        p {
            padding: 0 3rem;
        }
    }

    .common-content {
        background-image: url("../medias/img/burger_plate_responsive.png");
        @include m.backgroundImage(cover);
    }
}

@media only screen and (max-width: b.$sm) {
.promotion-presentation {
    .card {
        text-align: center;
    }

    .card-text {
        margin-right: 8rem;
    }
}

#team-presentation {
    background-image: url("../medias/img/food_illustration_responsive.png");
    @include m.backgroundImage(100% 100%);

        p {
            margin: 0 3rem;
        }

        .ethel-ramsay__img {
            margin: 3.5rem 0;
        }
    }
}
