@use 'variables' as v;

/*
Reset structure
*/
a {
    text-decoration: none;
    outline: none;
    color: v.$first-color;
}

a:hover {
    color: v.$fourth-color;
    transition: 0.2s ease-in;
}

ul {
    list-style: none;
}

h1 {
    font-size: 3.2rem;
}

                h2 {
                    font-size: 3rem;
                }
        
                h3 {
                    font-size: 2rem;
                }