$first-color: #ffffff; // main text color
$second-color: #F44E46; // text color -> team presentation
$third-color: #222222; // background color -> footer
$fourth-color: #d3d3d3; // hyperlink text color on hover -> header and footer